.content-body {
  height: 100%
}

.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: right;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px
}

/* CSS styles for the content */
.chat {
  height: auto;
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  padding-bottom: 80px;
  margin-bottom: 80px; /* Set the margin-bottom to the height of the footer */
}

.fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100%;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in.show {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-out {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.fade-out.hide {
  opacity: 0;
}
